<ul class="navbar-nav">

    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Ola, @User.Identity.Name</a>
        </li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Loggout">Sair</a>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }
</ul>
